html {
	scroll-behavior: smooth;
   }
body{
    margin: 0;
 }

.info {
	margin-top: 2%;
	justify-content: center;
	align-items: center;
}

.about_us {
	position: relative;
	display: inline-flex;
}

.about_us #about_us_text h1 {
	position: relative;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #000000;
	padding-left: 10%;
	padding-top: 5%;
	left: 5.5%;
}

.ul2::after {
	content: '';
	height: 5px;
	width: 5%;
	background: #000000;
	position: absolute;
	left: 10%;
	bottom: -15%;
}

.about_us #about_us_text p {
	position: relative;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #000000;
	padding-left: 10%;
	left: 5.5%;
}

.about_us .about_us_img {
	position: relative;
	width: 729px;
	height: 525px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 35px;
	display: flex;
	padding-left: 10%;
	margin-top: 5%;
	margin-right: 7.5%;
}

.background_square {
	position: absolute;
	max-width: 100%;
	width: 200px;
	height: 300px;
	margin-left: 45%;
	border: 21px solid #00629B;
	filter: blur(50px);
	transform: rotate(+31.35deg);
	z-index: -1;
	
}

.interest_grp_part_one {
	position: relative;
	display: flex;
	gap: 1%;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

#card {
	box-sizing: border-box;
	position: relative;
	left: -1px;
	top: 0px;
	background: #71C143;
	display: flex;
	height: fit-content;
	width: 27.5%;
	height: 56vh;
}

#card h1 {
	position: relative;
	top: 1.07%;
	bottom: 80.47%;
	right: 10%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	text-align: right;
	font-size: 60px;
	line-height: 66px;
	letter-spacing: 0.2px;
	color: #FFFFFF
}

.ul::after {
	content: '';
	height: 5px;
	width: 42.5%;
	background: white;
	position: absolute;
	right: 0.5%;
	bottom: 55%;
}

.tag_aiml {
	position: absolute;
	height: 15%;
	top: 80.75%;
	width: 45%;
	right: 19.5%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.interest_grp_part_two {
	position: relative;
	display: flex;
	gap: 1%;
	margin-top: 1%;
	justify-content: center;
	align-items: center;
}

.tag_elec {
	position: absolute;
	height: 15%;
	top: 80.75%;
	left: 5;
	width: 20%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.tag_dev {
	position: absolute;
	height: 15%;
	top: 80.75%;
	width: 20%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.project_part_one {
	position: relative;
	display: flex;
	gap: 1%;
	margin-top: 5%;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.project_part_one #card {
	box-sizing: border-box;
	position: relative;
	left: -1px;
	top: 0px;
	background: #00629B;
	display: flex;
	width: fit-content;
	height: initial;
}

.project_part_one h1 {
	position: relative;
	top: 1.07%;
	bottom: 85.47%;
	left: 35%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	letter-spacing: 0.2px;
	color: #FFFFFF
}

.ul1::after {
	content: '';
	height: 5px;
	top: 25%;
	width: 45%;
	right: inherit;
	background: white;
	position: absolute;
}

.tag_slam {
	position: absolute;
	height: 15%;
	top: 80.75%;
	width: 45%;
	left: 7%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.project_part_two {
	position: relative;
	display: flex;
	gap: 1%;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
}

.project_part_two .project_tag {
	position: absolute;
	height: 15%;
	bottom: 0;
	width: 20%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 1000;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

::placeholder { 
	padding-top:2%;
	color: rgba(85, 84, 85, 1);
	;