body{
    margin: 0;
 }

.container1 {
	margin-top: 2%;
}

.heading {
	display: inline-flex;
	margin-left: 2.5%;
}

.heading .auinfo h1 {
	position: relative;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #000000;
	padding-left: 10%;
	padding-top: 5%;
}

.ul2::after {
	content: '';
	height: 5px;
	width: 5%;
	background: #000000;
	position: absolute;
	left: 10%;
	bottom: -15%;
}

.heading .auinfo p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #000000;
	padding-left: 10%;
}

.heading .auimg {
	position: relative;
	width: 729px;
	height: 525px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 35px;
	display: flex;
	padding-left: 10%;
	margin-top: 5%;
	margin-right: 7.5%;
}

.square {
	position: absolute;
	max-width: 100%;
	width: 200px;
	height: 300px;
	left: 65%;
	border: 25px solid #00629B;
	filter: blur(50px);
	transform: rotate(-31.35deg);
}

.middle {
	display: inline-flex;
}

.ig {
	box-sizing: border-box;
	position: relative;
	width: 460px;
	height: 420px;
	left: -1px;
	top: 0px;
	background: #71C143;
	display: flex;
	margin-left: 8.75%;
}

.ig h1 {
	position: relative;
	top: 1.07%;
	bottom: 80.47%;
	right: 10%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	text-align: right;
	font-size: 60px;
	line-height: 66px;
	letter-spacing: 0.2px;
	color: #FFFFFF
}

.ul::after {
	content: '';
	height: 5px;
	width: 42.5%;
	background: white;
	position: absolute;
	right: 0.5%;
	bottom: 55%;
}

.ig_aiml {
	position: relative;
	display: flex;
}

.ig_aiml img {
	width: 110%;
	margin-left: 1.75%;
}

.tag1 {
	position: absolute;
	height: 15%;
	top: 80.5%;
	width: 45%;
	right: 53.5%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.end {
	display: inline-flex;
	margin-top: 1%;
	margin-left: 7.5%;
}

.end .img4 {
	margin-left: 4%;
}

.tag2 {
	position: relative;
	height: 15%;
	bottom: 20%;
	width: 30%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.tag3 {
	position: relative;
	height: 15%;
	bottom: 20%;
	left: 4%;
	width: 40%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.p1 {
	display: inline-flex;
	margin-top: 5%;
	margin-left: 3.25%	;
}

.prj {
	box-sizing: border-box;
	position: relative;
	width: 420px;
	height: 420px;
	left: 6.5%;
	top: 0px;
	background: #00629B;
}

.prj h1 {
	position: relative;
	right: 10%;
	top: 4.06%;
	bottom: 80.53%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	text-align: right;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.ul1::after {
	content: '';
	height: 5px;
	width: 45%;
	background: white;
	position: absolute;
	right: 2%;
	bottom: -30%;
}

.prjimg img {
	margin-left: 7.5%;
}

.tag4 {
	position: relative;
	height: 15%;
	bottom: 20%;
	left: 7.5%;
	width: 40%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.p2 {
	display: inline-flex;
	margin-left: 7.5%;
	gap: 1.5%;
	margin-top: -2.5%;
}

.p2 .tag {
	position: relative;
	height: 15%;
	bottom: 19%;
	width: 60%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}
