html {
	scroll-behavior: smooth;
   }
body{
    margin: 0;
 }

.container1 {
	margin-top: 2%;
}

.heading {
	position: relative;
	display: inline-flex;
}


.heading #auinfo h1 {
	position: relative;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #000000;
	padding-left: 10%;
	padding-top: 5%;
	left: 5.5%;
}

.ul2::after {
	content: '';
	height: 5px;
	width: 5%;
	background: #000000;
	position: absolute;
	left: 10%;
	bottom: -15%;
}

.heading #auinfo p {
	position: relative;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	color: #000000;
	padding-left: 10%;
	left: 5.5%;
}

.heading .auimg {
	position: relative;
	width: 729px;
	height: 525px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 35px;
	display: flex;
	padding-left: 10%;
	margin-top: 5%;
	margin-right: 7.5%;
}

.square {
	position: absolute;
	max-width: 100%;
	width: 200px;
	height: 300px;
	margin-left: 45%;
	border: 21px solid #00629B;
	filter: blur(50px);
	transform: rotate(+31.35deg);
	z-index: -1;
	
}

.middle {
	position: relative;
	display: inline-flex;
	left: 7.5%;
	gap: 1%;
}

#ig {
	box-sizing: border-box;
	position: relative;
	width: 35%;
	height: 60vh;
	left: -1px;
	top: 0px;
	background: #71C143;
	display: flex;
}

#ig h1 {
	position: relative;
	top: 1.07%;
	bottom: 80.47%;
	right: 10%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	text-align: right;
	font-size: 60px;
	line-height: 66px;
	letter-spacing: 0.2px;
	color: #FFFFFF
}

.ul::after {
	content: '';
	height: 5px;
	width: 42.5%;
	background: white;
	position: absolute;
	right: 0.5%;
	bottom: 55%;
}

.ig_aiml {
	position: relative;
	display: flex;
}

.ig_aiml img {
	width: 96.5%;
}

.tag1 {
	position: absolute;
	height: 15%;
	top: 80.75%;
	width: 45%;
	right: 55%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.end {
	position: relative;
	display: inline-flex;
	margin-top: 1%;
	gap: 1%;
	left: 7.5%;
}

.end .img4 {
	
}

.tag2 {
	position: relative;
	height: 15%;
	bottom: 20%;
	width: 30%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.tag3 {
	position: relative;
	height: 15%;
	bottom: 20%;
	left: 0%;
	width: 40%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.p1 {
	position: relative;
	display: inline-flex;
	margin-top: 5%;
	left: 3.25%;
}

.prj {
	box-sizing: border-box;
	position: absolute;
	left: 109.25%;
	width: 49.25%;
	background: #00629B;
	height: 87.75%;
}

.prj h1 {
	position: relative;
	right: 10%;
	top: 4.06%;
	bottom: 80.53%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	text-align: right;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.ul1::after {
	content: '';
	height: 5px;
	width: 45%;
	background: white;
	position: absolute;
	right: 2%;
	bottom: -30%;
}

.prjimg img {
	position: relative;
	display: flex;
	left: 7.5%;
}

.tag4 {
	position: relative;
	height: 15%;
	bottom: 20%;
	left: 7.5%;
	width: 40%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

.p2 {
	position: relative;
	display: inline-flex;
	gap: 1.5%;
	margin-top: -2.5%;
	left: 7.5%;
}

.p2 .tag {
	position: relative;
	height: 15%;
	bottom: 19%;
	width: 60%;
	background: white;
	border-radius: 0px 20px 0px 0px;
	text-align: left;
	padding-top: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 1000;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.1px;
	color: #000000;
}

::placeholder { 
	padding-top:2%;
	color: rgba(85, 84, 85, 1);
	;
}
@media only screen and (max-width:1200px) {
	body{
		margin: 0;
		width: 100%;
	 }
	
	.container1 {
		margin-top: 2%;
		width: 100%;
	}
	
	.heading {
		position: relative;
		display: inline-grid;
		width: 100%;
	}
	
	
	.heading #auinfo h1 {
		position: relative;
		display: inline-grid;
	}
	
	.ul2::after {
		content: '';
		height: 5px;
		width: 5%;
		background: #000000;
		position: absolute;
		left: 39.5%;
		bottom: -15%;
	}
	
	.heading #auinfo p {
		position: relative;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		display: flex;
		align-items: center;
		letter-spacing: 0.2px;
		color: #000000;
		padding-left: 10%;		
		padding-right: 10%;
		top: 10%;
		float: left;
	}
	
	.heading .auimg {
		position: relative;
		display: inline-grid;
		left: 25%;
		top: 10%;
	}
	
	.heading .auimg img {
		height: 55vh;
	}
	
	.middle {
		position: relative;
		display: inline-grid;
		width: 118%;
		left: 4.5%;
		gap: 2.5%;
	}
	
	#ig {
		box-sizing: border-box;
		position: relative;
		background: #71C143;
		display: inline-grid;
		width: 95.5%;
		height: 100%;
	}
	
	#ig h1 {
		position: relative;
		top: 1.07%;
		bottom: 80.47%;
		right: 10%;
	}
	
	.ul::after {
		width: 42.5%;
		background: white;
		position: absolute;
		right: 0.5%;
		bottom: 55%;
	}
	
	.middle img {
		position: relative;
		width: 95.5%;
		height: 75vh;
	}
	
	.tag1 {
		position: absolute;
		height: 15%;
		top: 80.75%;
		width: 45%;
		right: 55%;
	}
	
	.end {
		position: relative;
		display: inline-grid;
		width: 118%;
		left: 4.5%;
		margin-top: 1.5%;
	}
	
	.end img {
		position: relative;
		width: 95.5%;
		height: 75vh;
	}

	.ig_dev img {
		top: 2.5%;
	}
	
	.ig_elec img {
		bottom: 6.5%;
	}
	
	.tag2 {
		position: relative;
		height: 15%;
		bottom: 17%;
		width: 30%;
	}
	
	.tag3 {
		position: relative;
		height: 15%;
		bottom: 26%;
		left: 0%;
		width: 40%;
	}
	
	.p1 {
		position: relative;
		display: inline-grid;
		width: 118%;
		left: 4.5%;
	}
	
	.prj {
		box-sizing: border-box;
		position: relative;
		display: inline-grid;
		background: #00629B;
		bottom: 400%;
		width: 95.5%;
		height: 100%;
		right: 0;
		left: 0.5%;
	}
	
	.prj h1 {
		position: relative;
		right: 10%;
		top: 4.06%;
		bottom: 80.53%;
	}
	
	.ul1::after {
		content: '';
		height: 5px;
		width: 45%;
		background: white;
		position: absolute;
		right: 2%;
		bottom: -30%;
	}
	
	.prjimg img {
		position: relative;
		display: grid;
		left: 0.5%;
		width: 95.5%;
		top: 22.5%;
		height: 75vh;
	}
	
	.tag4 {
		position: relative;
		height: 15%;
		top: 4%;
		left: 0.5%;
		width: 40%;
	}
	
	.p2 {
		position: relative;
		display: inline-grid;
		width: 118%;
		left: 4.5%;
	}
	
	.p2 .p_aiml img {
		position: relative;
		width: 95.5%;
		left: 0.5%;
		height: 75vh;
		bottom: 5%;
	}
	
	.p2 .p_ar img {
		position: relative;
		width: 95.5%;
		height: 75vh;
		bottom: 15.5%;
		left: 0.5%;
	}
	
	.p2 .p_design img {
		position: relative;
		width: 95.5%;
		height: 75vh;
		bottom: 26%;
		left: 0.5%;
	}

	.p_aiml .tag {
		position: relative;
		height: 15%;
		bottom: 24.5%;
		width: 60%;
		left: 0.5%;
	}

	.p_ar .tag {
		position: relative;
		height: 15%;
		bottom: 34.75%;
		width: 60%;
		left: 0.5%;
	}

	.p_design .tag {
		position: relative;
		height: 15%;
		bottom: 45.25%;
		width: 60%;
		left: 0.5%;
	}

	}
	
	@media only screen and (max-width:1100px) {
	#ig {width: 100%;}
	.middle img {width: 100%;}
	.end img {width: 100%;}
	.prj {width: 100%;}
	.p1 img {width: 100%;}
	.p2 .p_aiml img {width: 100%;}
	.p2 .p_ar img {width: 100%;}
	.p2 .p_design img {width: 100%;}
	}
	
	@media only screen and (max-width:1000px) {
	#ig {width: 102.5%;}
	.middle .ig_aiml {width: 102.5%;}
	.end img {width: 102.5%;}
	.prj {width: 102.5%;}
	.p1 img {width: 102.5%;}
	.p2 .p_aiml img {width: 102.5%;}
	.p2 .p_ar img {width: 102.5%;}
	.p2 .p_design img {width: 102.5%;}
	}
	
	@media only screen and (max-width:900px) {
	#ig {width: 112.5%;}
	.middle .ig_aiml {width: 112.5%;}
	.end img {width: 112.5%;}
	.prj {width: 112.5%;}
	.p1 img {width: 112.5%;}
	.p2 .p_aiml img {width: 112.5%;}
	.p2 .p_ar img {width: 112.5%;}
	.p2 .p_design img {width: 112.5%;}
	}