.blob {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg,
            rgba(218, 50, 50, 0.42) 31.77%,
            #da3232 100%);
    /* mix-blend-mode: color-dodge; */
    -webkit-animation: move 5s forwards;
    animation: move 5s forwards;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    z-index: -1;
}

@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;

        width: 250px;
        height: 250px;
        -webkit-filter: blur(30px);
        box-shadow:
            inset 0 0 0 5px rgba(255, 255, 255, 0.6),
            inset 100px 100px 0 0px #fa709a,
            inset 200px 200px 0 0px #784ba8,
            inset 300px 300px 0 0px #2b86c5;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(55vw, 16vw) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;

        width: 520px;
        height: 520px;
        filter: blur(30px);
        box-shadow:
            inset 0 0 0 5px rgba(255, 255, 255, 0.6),
            /* inset 100px 100px 0 0px #fa709a,
            inset 200px 200px 0 0px #784ba8,
            inset 300px 300px 0 0px #2b86c5; */
            inset 100px 100px 0 0px #f9b331,
            inset 200px 200px 0 0px #2b86c5,
            inset 300px 300px 0 0px #da3232;
    }
}