.Contact-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background: rgba(0, 118, 178, 1);
    background-size: cover;
    height: 100%;
    width: 100%;
    color: aliceblue;
    
    
    
}
#contactus{
    font-size: 60px;
    padding: auto;
    font-family: 'Poppins', sans-serif;
   margin-bottom: 0.75rem;
   margin-top: 1rem;
   font-weight: 900;

}
.slogan{
    font-size: 25px;
    padding-top: 0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    

}
.container2{
    background: rgba(0, 118, 178, 1);
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 5rem;
    height: 100%;
    width: 100%;
}
.line{
    border: 3px solid white;
    margin-left: 15rem;
    margin-right: 5rem;
    border-radius: 20px;
    height: 312.77px;
}
.Address{
  color: aliceblue;
  
}
#Name{
     
     font-size: 25px;
     width: 8rem;
     font-family: 'Poppins', sans-serif;
     width: 218.4px;
     height: 47.97px;


}
#email{
    
    height: 3rem;
    width: 18.75rem;
    font-size: 25px;
    
    font-family: 'Poppins', sans-serif;
}
#comments{
    
    font-size: 25px;
    width: 540.38px;
    height: 129.66px;
    font-family: 'Poppins', sans-serif;
    
}
#images{
    display: flex;
    flex-direction: column;
}
.contact{
    font-size: 24px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.EmailAddress{
    margin-top: 2rem;
    color: aliceblue;
}
.img11{
    margin-bottom: 8.7rem;
}
#send{
    width: 202px;
    height: 49px;
    background: #00629B;
    box-shadow: 5.52381px 4.41905px 9.94286px -1.10476px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: aliceblue;
    border-color: #00629B;
    line-height: 124.02%;
    margin-top: 20px;
    

}
#button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 34rem;
}
.image{
    display: none;
}
@media only screen and (max-width:1200px) {
    
    }        
@media only screen and (max-width:1100px) {
    
}
@media only screen and (max-width:962px) {
   
     
           
            
}
@media only screen and (max-width:900px) {
    
     
           
            
}
@media only screen and (max-width:870px) {
    
     
           
            
}
@media only screen and (max-width:800px) {
    
    .line{
        display: none;
    }
    .container2{
        flex-direction: column;
        width: 152%;
        
        
    }
    .Contact-container{            
        width: 152%;}
    #images{
        flex-direction: row;
    } 
    .img11{
        margin-bottom: 0%;
        display: none;
    }
    .img3{
        margin-bottom: 0%;
        display: none;
    }
    .contact{
        display: flex;
        flex-direction: row;
    }
    .image{
        display: inline-block;
        margin-top: 25px;
        margin-right: 12px;
    }
    .EmailAddress{
        margin-top: 0rem;
        color: aliceblue;
        margin-left: 5%;
        width: 308.62px;
        height: 108px;
    }
    form{
        margin-top: 5%;
        margin-left: 30%;
    }
    #button{
        justify-content: center;
    }
    .Address{
        margin-left: 27%;
        
    }

           
            
}
@media only screen and (max-width:750px) {
    .container2{
        width: 170%;
    }
    .Contact-container{            
            width: 170%;}}
 @media only screen and (max-width:700px) {
    .container2{
        width: 180%;
    }
    .Contact-container{            
        width: 180%;}}    
@media only screen and (max-width:650px) {
 .container2{
           width: 200%;
            }
  .Contact-container{            
           width: 200%;}}
           @media only screen and (max-width:550px) {
            .container2{
                      width: 220%;
                       }
             .Contact-container{            
                      width: 220%;}}
@media only screen and (max-width:500px) {
            .container2{
                      width: 240%;
                       }
             .Contact-container{            
                      width: 240%;}}   
@media only screen and (max-width:460px) {
            .container2{
                      width: 270%;
                       }
             .Contact-container{            
                      width: 270%;}}                                         
@media only screen and (max-width:400px) {
            .container2{
                      width: 310%;
                       }
             .Contact-container{            
                      width: 310%;}}
@media only screen and (max-width:350px) {
            .container2{
                      width: 390%;
                       }
             .Contact-container{            
                      width: 390%;}}

