* { 
    box-sizing: border-box; 
} 
 
html { 
    width: 100%; 
    height: 100%;
    position: absolute;
}
 
body { 
    margin: 0; 
    padding: 0;
    right: 0; 
    height: 100%;   
} 

.bar{
    display: inline;
    background-color: #FFFFFF;
    border: 1px #FFF solid;
}

.top-link{
    font-size: 18px;
    font-family: 'Poppins';
    color: black;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
    color: #FFF;
    padding: 8px 11px;
}

.top-1{
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #00629B;
    
    
}
.top-2{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
    height: 1.6rem;
}
.top-3{
    width: 200%;
}
.below-link{
    font-size: 17px;
    font-family: 'Poppins';
    color: black;
    font-weight: 600;
    line-height: 27px;
    margin: 0 30.92px ;
    text-decoration: none;
   
}
.logo-1{
    width: 138px;
    height: 45px;

}
.textbox{
    margin-top: 69.56px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-left: 88px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 76.0842px;
    line-height: 54px;
    letter-spacing: 0.015em;
  
    color: #FFFFFF;
    
    text-shadow: 3.51158px 4.68211px 4.68211px rgba(0, 0, 0, 0.25);
}

.top-3{
    display: flex;
    align-items: flex-start;
    height: 44rem;
    width: auto;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
    background-image: linear-gradient(180deg, rgba(0, 98, 155, 0.366) -1.11%, rgba(0, 98, 155, 0.6) 98.89%),url("images/clockTower.png") ;
    
}
.top-blue{
    background-color: #00629B;
}

.btn{
    background-color: #00629B;
    position: absolute;
    width: 202px;
    height: 49px;
    left: 90px;
    top: 470px;
    font-family: 'Poppins';
   font-style: normal;
    font-weight: 600;
   font-size: 24px;
   line-height: 29.77px;
    letter-spacing: 0.115em;
    text-transform: capitalize;
    color: #FFF;
    border: none;
    border-radius:5px ;
    box-shadow: 3.52px 3.42px 12.94px black;
}

.icons{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 450px;
    left: 85px;
}
.icon{
    margin: 0 13.1px;
}
.text-2{
    margin-top: -2rem;
    font-size: 55px;
}

