body {
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

.display {
    font-family: 'Array', sans-serif;
}

.ieee-display {
    /* left: .5rem; */
    width: 100%;
    text-align: left;
    /* font-size: 5vw; */
    line-height: 1;
}

img.vert-move {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}

.bg-gray {
    background-color: rgb(244, 244, 244);
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(-4.5px);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(-4.5px);
    }

    60% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.custom-sig-card:hover .position-absolute {
    animation: slideup 0.5s ease-in-out forwards;
}

@keyframes slideup {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-101%);
    }
}

@media screen and (max-width: 992px) {
    .hero-img {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    .ieee-top-links {
        display: none;
    }
}

.orb-canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.overlay {
    margin-top: 2rem;
    padding: 3rem 4rem;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* .content {
    background: linear-gradient(
        to bottom,
        hsl(var(--hue), 95%, 99%),
        hsl(var(--hue), 95%, 84%)
      );
} */

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -1;
}