html {
    overflow-x: hidden;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

.display {
    font-family: 'Array', sans-serif;
}

.ieee-display {
    /* left: .5rem; */
    width: 100%;
    text-align: left;
    /* font-size: 5vw; */
    line-height: 1;
}

img.vert-move {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}

.bg-gray {
    background-color: rgb(244, 244, 244);
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(-4.5px);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(-4.5px);
    }

    60% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.custom-sig-card .position-absolute {
    animation: slidedown 0.2s ease-in-out;
    transform: translateY(0%);
}

.custom-sig-card:hover .position-absolute {
    animation: slideup 0.2s ease-in-out;
    transform: translateY(-101%);
}

@keyframes slideup {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-101%);
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-101%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 992px) {
    .hero-img {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    .ieee-top-links {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .profile-card {
        padding-bottom: 3rem;
    }
}

.orb-canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.overlay {
    margin-top: 2rem;
    padding: 3rem 4rem;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -1;
}

.glowing {
    border-color: aliceblue;
    border-width: .15rem;
    filter: drop-shadow(0 0 5px rgb(155, 171, 171)) brightness(1.5);
}

.leadership-box {
    margin-top: 2rem;
    padding: 3rem 4rem;
    background: rgba(255, 255, 255, 0.911);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.leadership-glow::before {
    content: '';
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    background: linear-gradient(45deg, #f3c8e2, #d8b1ff, #ffc1b1de, #90d4ff);
    background-size: 100%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    border-radius: 2.2rem;
    filter: blur(100px);
}

.name-title {
    font-family: 'Bebas Neue';
    font-size: 3rem;
}

.position-title {
    font-family: 'Nunito';
    font-size: 1.5rem;
    color: #808080;
}
#Editions-box{
    margin-top: 4rem;
    margin-left: 7rem;
    margin-right: 3rem;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.911);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
   height: fit-content;
    width: 200px;
}
.items{
    padding: 1rem 1rem;
    border-radius: 1rem;
    
    }
.items:hover{
    
    background-color: #0A70A3;
    color: white;
    }
#pdf-buttons{
  display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
#pdf-buttons-2{
    background-color: #0A70A3;
    text-decoration: none;
    width: fit-content;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
    margin-left: 2%;
    margin-bottom: 2rem;
}
#pdf-buttons-2:hover{
    background-color: #064b6e;
    
    }

@media screen and (max-width: 589px) {
    #Editions-box{
        margin-left: 2rem;
    }
    
}
@media screen and (max-width: 509px) {
    #Editions-box{
        margin-left: 2rem;
        margin-right: 1rem;
    }
    
}
@media screen and (max-width: 482px) {
    #Editions-box{
        margin-left: 1rem;
    }
    .pdf-buttons-2{
        margin-left: 0%;
        padding: 0.7rem 0.3rem;
    }
    
}
@media screen and (max-width: 400px) {
    #Editions-box{
        margin-left: 1rem;
        padding: 0.5rem 1rem;
    }
    .items{
        padding: 0.7rem 0.7rem;
        border-radius: 1rem;
        
        }
    
        .pdf-buttons-2{
            margin-left: 0%;
            padding: 0rem 0rem;
            
        }
}